body {
  background-color: black;
  color: #ccc;
  padding: 5px 25px 5px 25px;
  font-family: "Kode Mono", monospace;
  font-size: 14px;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

a {
  color: #0f0;
}

.green {
  background: #0c0;
}

#header-link {
  text-decoration: none;
  color: #ccc;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

@media (width > 1250px) {
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
  }
}

@media (width <= 1250px) {
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

