database:
  host: 'localhost'
  port: 5432
  username: 'root'
  password: ''
  name: 'api_database'

authentication:
  ryker:
    username: 'r'
    password: 'zxcvzxcv'
  xeraen:
    username: 'x'
    password: 'asdfasdf'

system:
  domain: 'hackr.link'
